<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
	<script type="text/javascript" src="/public/js/main.js"></script>
</head>
<body>
	<canvas id="capture" width="320", height="240"></canvas>
	<!--<img id="receive" width="320", height="240"></img>-->
	<video id="monitor" width='320', height='240' autoplay></video>
</body>
</html>

<!--canvas#capture(width='320', height='240', hidden)
img#receive(width='320', height='240')
video#monitor(width='160', height='120', autoplay)-->